.image-element-container {
  width: var(--WCB);
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: var(--R1);
}

.image-background-container {
  width: var(--WCB-C);
  max-width: 100vw;
  position: relative;
  display: flex;
}

.image {
  border-radius: var(--R1);
  max-width: 100vw;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.background-image {
  border-radius: var(--R1);
  max-width: 100vw;
  overflow: hidden;
}

.overflow-image {
  border-radius: var(--R1);
  position: absolute;
  width: 50%;

  top: -20%;
  left: 50%;
  bottom: -20%;
  right: 0;
}

/*  */
