@media only screen and (max-width: 600px) {
  .right-block-component {
    height: 60vh;
    max-height: 60vh;

    overflow: hidden;
  }

  .right-block-image {
    width: 100%;
  }

  .right-block-container {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 60px;
    padding-bottom: 20px;
    flex-direction: column;
    justify-content: left;
    gap: 24px;
  }

  .right-block-image-header {
    height: 38px;
    /* width: 251px; */
  }

  .right-block-button {
    height: 42px;
    width: 166px;
  }
}

.arrow-icon {
  position: relative; /* Ensure the element can move relative to its original position */
  animation: moveLeftRight 1.5s ease-in-out infinite;
}

@keyframes moveLeftRight {
  0% {
    transform: translateX(0); /* Start at the original position */
  }
  50% {
    transform: translateX(5px); /* Move 100px to the right */
  }
  100% {
    transform: translateX(0); /* Move back to the original position */
  }
}

@media only screen and (min-width: 600px) {
  .right-block-component {
    height: 60vh;
    max-height: 60vh;

    overflow: hidden;
  }

  .right-block-image {
    width: 100%;
  }

  .right-block-container {
    display: flex;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 60px;
    padding-bottom: 60px;
    flex-direction: column;
    justify-content: left;
    gap: 24px;
  }

  .right-block-image-header {
    height: 38px;
    /* width: 251px; */
  }

  .right-block-button {
    height: 42px;
    width: 166px;
  }
}

@media only screen and (min-width: 1100px) {
  .right-block-component {
    height: 100vh;
    max-height: 100vh;

    overflow: hidden;
  }

  .right-block-image {
    width: 100%;
  }

  .right-block-container {
    display: flex;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 60px;
    padding-bottom: 60px;
    flex-direction: column;
    justify-content: left;
    gap: 24px;
  }

  .right-block-image-header {
    height: 38px;
    /* width: 251px; */
  }

  .right-block-button {
    height: 42px;
    width: 166px;
  }
}
